<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gamefaceapp.gamefaceapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Gameface</name>
    <description>
        Gameface
    </description>
    <author email="support@bidchat.com" href="http://www.bidchat.com">
        Bidchat Team
    </author>
    <content src="index.html" />
    <preference name="AllowInlineMediaPlayback" value="YES" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="apiKey" value="18a727d5cebf36f29aa0617803fe3c6c" />
    <preference name="EnableViewportScale" value="true" />

    <branch-config>
        <branch-key value="key_live_mfBFaWSQRcL2i0k0QZBqIpggstjGsNmT" />
        <ios-team-id value="376766573043536482" />
        <android-prefix value="/X9Ug" />
        
        <host name="eifn.app.link" scheme="https" />
        <uri-scheme value="gamefaceapp" />
        <link-domain value="eifn.app.link" />
        <ios-team-release value="3553G4H8G3" />
    </branch-config>
    <platform name="ios">
        <icon src="www/resources/images/mask-logo.png" width="57" />
        <preference name="orientation" value="all" />
    </platform>
    <platform name="ios">
        <!-- images are determined by width and height. The following are supported -->
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="ShowSplashScreenSpinner" value="true"/>
        <preference name="FadeSplashScreen" value="false"/>
        
        
    </platform>
 
    
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="bidchat" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    
    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
        
    </feature>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <hook src="hooks/iosrtc-swift-support.js" type="after_platform_add" />
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>Blink uses your camera to make video calls.</string>
        </config-file>
        <config-file parent="NSContactsUsageDescription" target="*-Info.plist">
            <string>Blink needs access to your contacts in order to be able to call them.</string>
        </config-file>
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>Blink uses your microphone to make calls.</string>
        </config-file>
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
        <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
        <splash height="1242" src="resources/ios/splash/Default-Landscape-736h.png" width="2208" />
        <splash height="1536" src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="768" src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320" />
   
    
    </platform>
    <icon src="resources/ios/icon/icon-small@3x.png" />
    <engine name="ios" spec="^3.8.0" />
    <plugin name="cordova-plugin-facebook4" spec="~1.6.5">
        <variable name="APP_ID" value="1764642873852069" />
        <variable name="APP_NAME" value="Demogame" />
    </plugin>
    <!--<preference name="analytics_write_key" value="eBqPrkMxNcBIb8Sw6ne98rpsiVYWBCAL" />
    <preference name="analytics_debug_write_key" value="eBqPrkMxNcBIb8Sw6ne98rpsiVYWBCAL" />-->
    
</widget>
